h3 {
  font-family: "poppins", sans-serif !important;
}
/* Estilizado layout contenido main */
.main-content {
  overflow-y: scroll;
  display: grid;
  grid-auto-columns: 1fr;
  color: var(--text-color-titles);
  gap: 3vh;
  grid-template-areas:
    "titulo"
    "titulo-1"
    "form-report";
}

.main-content .Main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content .theme-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
  cursor: pointer;
  background-color: var(--grey-dark-color);
  border-radius: 25px;
  box-shadow: var(--box-shadow-color);
}

.main-content .theme-mode span {
  padding: 1vw;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--light-color);
}

.main-content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 800;
}
.main-content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 800;
}

.main-content-grid:nth-child(1) {
  grid-area: titulo;
}
.main-content-grid:nth-child(2) {
  grid-area: titulo-1;
}
.main-content-grid:nth-child(3) {
  grid-area: form-report;
}

.form-report form {
  padding: 2vh;
  background-color: var(--card-color);
  box-shadow: var(--box-shadow-color);
  border-radius: 25px;
  font-family: "Fredoka", sans-serif;
}

.form-report .form-group {
  display: block;
}

select {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 8px;
  width: calc(100% - 10px);
  background-color: var(--input-elements-color);
  border: 0;
  border-bottom: 1px solid var(--grey-line-color);
  color: var(--text-color-titles);
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  border-bottom: 2px solid var(--grey-dark-color);
}

input {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 8px;
    width: calc(100% - 10px);
    background-color: var(--input-elements-color);
    border: 0;
    border-bottom: 2px solid var(--grey-dark-color);
    color: var(--text-color-titles);
    font-family: "poppins", sans-serif;
    font-size: 1rem;
  }

textarea{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 8px;
    width: calc(100% - 10px);
    background-color: var(--input-elements-color);
    border: 0;
    color: var(--text-color-titles);
    font-family: "poppins", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    resize: none;
}

.form-grid{
    display: grid;
    grid-auto-columns: 1fr;
    color: var(--text-color-titles);
    gap: 3vh;
    grid-template-areas:
      "a a b"
      "c c d"
      "e e e"
      "f f f"
      "g h i"
      "j j j";
}

.form-group:nth-child(1){
    grid-area: a;
}
.form-group:nth-child(2){
    grid-area: b;
}
.form-group:nth-child(3){
    grid-area: c;
}
.form-group:nth-child(4){
    grid-area: d;
}
.form-group:nth-child(5){
    grid-area: e;
}
.form-group:nth-child(6){
    grid-area: f;
}
.form-group:nth-child(7){
    grid-area: g;
}
.form-group:nth-child(8){
    grid-area: h;
}
.form-group:nth-child(9){
    grid-area: i;
}
.form-group:nth-child(10){
    grid-area: i;
}
.form-group:last-child{
    grid-area: j;
}

/* responsiveness content-grid */
@media screen and (max-width: 768px) {
  /* Estilizado de main-content-grid */
  .main-content {
    display: grid;
    grid-auto-columns: 92vw;
    justify-content: center;
    gap: 3vh;
    grid-template-areas:
      "titulo"
      "titulo-1"
      "form-report";
  }
  .main-grid .main-content {
    padding: 0;
  }
  .main-content .Main-title {
    padding-top: 4vh;
  }
}
