/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins:wght@200;300;400;500;600;800&family=Quicksand:wght@300;400&family=Radio+Canada:wght@300&display=swap");
/* Variables */

/* Media themes */
@media (prefers-color-scheme: light) {
  :root {
    --text-color-titles: rgb(65, 65, 65);
    --text-color-dark: #333;
    --card-color: whitesmoke;
    --scrollbar-color: rgb(138, 138, 138);
    --background-color: whitesmoke;
    --head-color: whitesmoke;
    --box-shadow-color: rgba(84, 84, 161, 0.336) 0px 10px 35px 0px;
    --main-color: #84a8f5;
    --SB-sel-color: #e2e2e2;
    --success-color: #81f094;
    --warning-color: #f0c967;
    --danger-color: #f2687b;
    --light-color: whitesmoke;
    --grey-color: rgb(138, 138, 138);
    --grey-dark-color: rgb(65, 65, 65);
    --dark-color: #333;
  }
  .dark-theme {
    --text-color-titles: rgb(209, 209, 209);
    --text-color-dark: whitesmoke;
    --scrollbar-color: rgb(138, 138, 138);
    --background-color: rgb(32, 32, 43);
    --card-color: rgb(39, 37, 46);
    --head-color: rgb(39, 37, 46);
    --box-shadow-color: rgba(18, 18, 32, 0.877) 0px 10px 35px 0px;
    --main-color: #5d87e2;
    --SB-sel-color: #464646;
    --success-color: #81f094;
    --warning-color: #f0c967;
    --danger-color: #f2687b;
    --light-color: #333;
    --grey-color: rgb(138, 138, 138);
    --grey-dark-color: rgb(219, 219, 219);
    --dark-color: whitesmoke;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color-titles: rgb(209, 209, 209);
    --text-color-dark: whitesmoke;
    --scrollbar-color: rgb(138, 138, 138);
    --background-color: rgb(32, 32, 43);
    --card-color: rgb(39, 37, 46);
    --head-color: rgb(39, 37, 46);
    --box-shadow-color: rgba(18, 18, 32, 0.877) 0px 10px 35px 0px;
    --main-color: #5d87e2;
    --SB-sel-color: #464646;
    --success-color: #81f094;
    --warning-color: #f0c967;
    --danger-color: #f2687b;
    --light-color: #333;
    --grey-color: rgb(138, 138, 138);
    --grey-dark-color: rgb(219, 219, 219);
    --dark-color: whitesmoke;
  }
  .dark-theme {
    --text-color-titles: rgb(65, 65, 65);
    --text-color-dark: #333;
    --card-color: whitesmoke;
    --scrollbar-color: rgb(138, 138, 138);
    --background-color: whitesmoke;
    --head-color: whitesmoke;
    --box-shadow-color: rgba(84, 84, 161, 0.336) 0px 10px 35px 0px;
    --main-color: #84a8f5;
    --SB-sel-color: #e2e2e2;
    --success-color: #81f094;
    --warning-color: #f0c967;
    --danger-color: #f2687b;
    --light-color: whitesmoke;
    --grey-color: rgb(138, 138, 138);
    --grey-dark-color: rgb(65, 65, 65);
    --dark-color: #333;
  }
}

/* DOC STYLE */
* {
  top: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  transition: all 100ms ease;
}

/* icons-style */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
  font-size: 5vh;
  display: inline-flex;
  vertical-align: text-bottom;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 10px;
}
/* DOC STYLE END */

body {
  padding-left: 30vw;
  padding-right: 30vw;
  padding-top: 10vh;
  font-family: "fredoka", sans-serif;
  background-color: var(--background-color);
  color: var(--dark-color);
}

.login-grid {
  display: grid;
  gap: 1rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "title"
    "email"
    "password"
    "btn-login";
  justify-content: center;
  width: 100%;
}

.login-grid-content:nth-child(1) {
  grid-area: title;
}
.login-grid-content:nth-child(2) {
  grid-area: email;
}
.login-grid-content:nth-child(3) {
  grid-area: password;
}
.login-grid-content:nth-child(4) {
  grid-area: btn-login;
}

.login-grid-content{
  width: 100%;
}

.email .email-textfield{
  width: 100%;
  font-size: 1.2em;
  font-family: 'fredoka',sans-serif;
  height: 6vh;
  box-shadow: var(--box-shadow-color);
  border-radius: 25px;
  color: var(--dark-color);
  background-color: var(--card-color);
  border: 0;
  margin-top: 1vh;
}

.password .password-textfield{
  width: 100%;
  font-size: 1.2em;
  height: 6vh;
  box-shadow: var(--box-shadow-color);
  border-radius: 25px;
  color: var(--dark-color);
  background-color: var(--card-color);
  border: 0;
  margin-top: 1vh;
}

.title{
  font-family: 'poppins', sans-serif;
  display: grid;
  justify-items: center;
  color: var(--dark-color);
}

.title h1{
  font-size: 3rem;
}

.btn-login{
  color: var(--light-color);
  background-color: var(--dark-color);
  border: 0px;
  border-radius: 52px;
  font-family: 'fredoka', sans-serif;
  font-size: 1.2rem;
  height: 4.2vh;
  width: 250px;
  justify-self: center;
  margin: 2vh;
  box-shadow: var(--box-shadow-color);
}

.email-label{
  font-size: 1.4rem;
}

.password-label{
  font-size: 1.4rem;
}

.login-grid .theme-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
  cursor: pointer;
  background-color: var(--grey-dark-color);
  border-radius: 25px;
  box-shadow: var(--box-shadow-color);
  position:absolute;
  top:2vh;
  left: 2vh;
}

.login-grid .theme-mode span {
  padding: 1vw;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--light-color);
}
